<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<picture>
	<f:for each="{variants}" key="name" as="variant">
		<f:variable name="breakpoint">{variant.breakpoint as integer}</f:variable>
		<f:variable name="width">{variant.width as integer}</f:variable>
		<f:if condition="{width}">
			<f:variable name="mediaQuery">{f:if(condition: breakpoint, then: 'media="(min-width: {breakpoint}px)"')}</f:variable>
			<f:if condition="{variant.sizes}">
				<f:variable name="srcset" value="" />
				<f:for each="{variant.sizes}" key="sizeKey" as="sizeConfig" iteration="iteration">
					<f:variable name="sizeWidth">{sizeConfig.multiplier as float}</f:variable>
					<f:variable name="sizeWidth">{sizeWidth * width}</f:variable>
					<f:variable name="srcset">{srcset}{f:uri.image(image: file, cropVariant: name, maxWidth: sizeWidth)} {sizeKey}{f:if(condition: iteration.isLast, else: ',')}</f:variable>
				</f:for>
			</f:if>
			<source data-variant="{name}" data-maxwidth="{width}" {mediaQuery->f:format.raw()} srcset="{srcset}">
		</f:if>
	</f:for>
	<f:variable name="image" value="{f:uri.image(image: file, cropVariant: 'default', maxWidth: variants.default.width)}" />
	<f:variable name="imageHeight" value="{bk2k:data.imageInfo(src: image, property: 'height')}" />
	<f:variable name="imageWidth" value="{bk2k:data.imageInfo(src: image, property: 'width')}" />
	<img loading="lazy" class="elevatezoom" data-zoom-image="{f:uri.image(image: file, maxWidth: 12000)}" src="{image}" width="{imageWidth}" height="{imageHeight}" intrinsicsize="{imageWidth}x{imageHeight}" title="{file.properties.title}" alt="{file.properties.alternative}">
</picture>
</html>
